
<div class="container">
  <div class="block">
    <!-- <a [routerLink]="['/product']"></a> -->
    <app-product-list></app-product-list>
  </div>
  <div class="block">
    <!-- <a [routerLink]="['/cart']"></a> -->
    <app-cart-list></app-cart-list>
  </div>
<!-- test app -->
  <!-- <router-outlet></router-outlet> -->
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->